* {text-decoration: none;
font-family: monospace, serif;
font-size: 18px;
list-style: none;
color: white;
margin: 0;
padding: 0;
}

.menu > li {float: left;
         background-color: #333;
         height:40px;
        width: 200px;
        position:relative;
        padding: 15px 50px 3px 15px;
        box-shadow: 1px 1px 1px #3d3c3c;
        
}

.submenu > li {
	display: none;
     line-height: 24px;   
}
.submenu2 > li {display: none;
    }

nav .menu > li:hover .submenu > li {
    display: block;
    
    background-color: #4CAF50;
    color: white;
    
    box-shadow: 2px 5px 3px #3d3c3c;
    padding: 14px 45px 14px 9px;
    width: 100px;
    height: 125px;
    position: absolute;
    top: 60px;
    z-index: 1;
  }

nav .submenu > li:hover .submenu2 > li {
    display: block;
    box-sizing: border-box;
    line-height: 24px;
    background-color: #4CAF50;
    box-shadow: 2px 5px 3px #3d3c3c;
    padding: 14px 45px 14px 9px;
    margin-bottom: 20px;
    width: 160px;
    height: 150px;
    position: absolute;
    left: 155px;
    z-index: 10;
  }